<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <My.MySettings>
            <setting name="XH002" serializeAs="String">
                <value>GB6172.1$钢六角薄螺母</value>
            </setting>
            <setting name="XH003" serializeAs="String">
                <value>GB11263$H型钢</value>
            </setting>
            <setting name="XH004" serializeAs="String">
                <value>GB119.1$圆柱销</value>
            </setting>
            <setting name="XH005" serializeAs="String">
                <value>GB12618$抽芯铆钉</value>
            </setting>
            <setting name="XH006" serializeAs="String">
                <value>GB819.1$十字槽沉头螺钉</value>
            </setting>
            <setting name="XH007" serializeAs="String">
                <value>GB861.1$锁紧垫圈</value>
            </setting>
            <setting name="XH008" serializeAs="String">
                <value>GB902.1$焊接螺柱</value>
            </setting>
            <setting name="XH009" serializeAs="String">
                <value>HG20610$缠绕垫片</value>
            </setting>
            <setting name="XH010" serializeAs="String">
                <value>GB6175$钢六角螺母</value>
            </setting>
            <setting name="XH011" serializeAs="String">
                <value>GB1096$平键</value>
            </setting>
            <setting name="XH012" serializeAs="String">
                <value>GB2028$船用放泄螺塞</value>
            </setting>
            <setting name="XH013" serializeAs="String">
                <value>GB3009$防蚀螺塞</value>
            </setting>
            <setting name="XH014" serializeAs="String">
                <value>GB4622.2$缠绕垫片</value>
            </setting>
            <setting name="XH015" serializeAs="String">
                <value>GB5780$钢六角螺栓</value>
            </setting>
            <setting name="XH016" serializeAs="String">
                <value>GB5781$钢六角螺栓</value>
            </setting>
            <setting name="XH017" serializeAs="String">
                <value>GB5782$钢六角螺栓</value>
            </setting>
            <setting name="XH018" serializeAs="String">
                <value>GB5783$钢六角螺栓</value>
            </setting>
            <setting name="XH019" serializeAs="String">
                <value>GB5785$钢六角螺栓</value>
            </setting>
            <setting name="XH020" serializeAs="String">
                <value>GB5786$钢六角螺栓</value>
            </setting>
            <setting name="XH021" serializeAs="String">
                <value>GB6170$钢六角螺母</value>
            </setting>
            <setting name="XH022" serializeAs="String">
                <value>GB6171$钢六角螺母</value>
            </setting>
            <setting name="XH023" serializeAs="String">
                <value>GB6175$钢六角螺母</value>
            </setting>
            <setting name="XH024" serializeAs="String">
                <value>GB6184$锁紧螺母</value>
            </setting>
            <setting name="XH025" serializeAs="String">
                <value>GB70.1$钢内六角圆柱头螺钉</value>
            </setting>
            <setting name="XH026" serializeAs="String">
                <value>GB9115$法兰</value>
            </setting>
            <setting name="XH027" serializeAs="String">
                <value>GB9119$法兰</value>
            </setting>
            <setting name="XH028" serializeAs="String">
                <value>GB97.1$钢平垫圈</value>
            </setting>
            <setting name="XH029" serializeAs="String">
                <value>GB97.2$钢平垫圈</value>
            </setting>
            <setting name="XH030" serializeAs="String">
                <value>GB97.3$钢平垫圈</value>
            </setting>
            <setting name="XH031" serializeAs="String">
                <value>GB100$开槽沉头木螺钉</value>
            </setting>
            <setting name="XH032" serializeAs="String">
                <value>GB116$铆钉</value>
            </setting>
            <setting name="XH033" serializeAs="String">
                <value>GB117$圆锥销</value>
            </setting>
            <setting name="XH034" serializeAs="String">
                <value>GB575$船用铜法兰</value>
            </setting>
            <setting name="XH035" serializeAs="String">
                <value>GB798$钢六角螺栓</value>
            </setting>
            <setting name="XH036" serializeAs="String">
                <value>GB799$地脚螺栓</value>
            </setting>
            <setting name="XH037" serializeAs="String">
                <value>GB812$圆螺母</value>
            </setting>
            <setting name="XH038" serializeAs="String">
                <value>GB818$十字槽盘头螺钉</value>
            </setting>
            <setting name="XH039" serializeAs="String">
                <value>GB822$十字槽圆柱头螺钉</value>
            </setting>
            <setting name="XH040" serializeAs="String">
                <value>GB825$吊环螺钉</value>
            </setting>
            <setting name="XH041" serializeAs="String">
                <value>GB827$标牌铆钉</value>
            </setting>
            <setting name="XH042" serializeAs="String">
                <value>GB845$十字槽盘头自攻螺钉</value>
            </setting>
            <setting name="XH043" serializeAs="String">
                <value>GB848$小垫圈</value>
            </setting>
            <setting name="XH044" serializeAs="String">
                <value>GB852$工钢用方斜垫圈</value>
            </setting>
            <setting name="XH045" serializeAs="String">
                <value>GB853$槽钢用方斜垫圈</value>
            </setting>
            <setting name="XH046" serializeAs="String">
                <value>GB854$单耳止动垫圈</value>
            </setting>
            <setting name="XH047" serializeAs="String">
                <value>GB858$圆螺母用止动垫圈</value>
            </setting>
            <setting name="XH048" serializeAs="String">
                <value>GB866$沉头铆钉</value>
            </setting>
            <setting name="XH049" serializeAs="String">
                <value>GB867$半圆头铆钉</value>
            </setting>
            <setting name="XH050" serializeAs="String">
                <value>GB872$扁平头铆钉</value>
            </setting>
            <setting name="XH051" serializeAs="String">
                <value>GB873$空心铆钉</value>
            </setting>
            <setting name="XH052" serializeAs="String">
                <value>GB880$带孔销</value>
            </setting>
            <setting name="XH053" serializeAs="String">
                <value>GB882$销轴</value>
            </setting>
            <setting name="XH054" serializeAs="String">
                <value>GB897$双头螺柱</value>
            </setting>
            <setting name="XH055" serializeAs="String">
                <value>GB898$双头螺柱</value>
            </setting>
            <setting name="XH056" serializeAs="String">
                <value>GB900$双头螺柱</value>
            </setting>
            <setting name="XH057" serializeAs="String">
                <value>GB901$等长双头螺柱</value>
            </setting>
            <setting name="XH058" serializeAs="String">
                <value>GB953$等长双头螺柱</value>
            </setting>
            <setting name="XH059" serializeAs="String">
                <value>GB41$钢六角螺母</value>
            </setting>
            <setting name="XH060" serializeAs="String">
                <value>GB56$钢六角厚螺母</value>
            </setting>
            <setting name="XH061" serializeAs="String">
                <value>GB65$钢开槽圆柱头螺钉</value>
            </setting>
            <setting name="XH062" serializeAs="String">
                <value>GB67$钢开槽盘头螺钉</value>
            </setting>
            <setting name="XH063" serializeAs="String">
                <value>GB68$钢开槽沉头螺钉</value>
            </setting>
            <setting name="XH064" serializeAs="String">
                <value>GB71$钢开槽锥端紧定螺钉</value>
            </setting>
            <setting name="XH065" serializeAs="String">
                <value>GB73$钢开槽平端紧定螺钉</value>
            </setting>
            <setting name="XH066" serializeAs="String">
                <value>GB75$钢方头长圆柱端紧定螺钉</value>
            </setting>
            <setting name="XH067" serializeAs="String">
                <value>GB85$螺钉</value>
            </setting>
            <setting name="XH068" serializeAs="String">
                <value>GB91$开口销</value>
            </setting>
            <setting name="XH069" serializeAs="String">
                <value>GB93$标准型弹簧垫圈</value>
            </setting>
            <setting name="XH070" serializeAs="String">
                <value>GB95$钢平垫圈</value>
            </setting>
            <setting name="XH071" serializeAs="String">
                <value>JB87$垫片</value>
            </setting>
            <setting name="XH072" serializeAs="String">
                <value>JB88$垫片</value>
            </setting>
            <setting name="XH073" serializeAs="String">
                <value>GB4622.1$缠绕垫片</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>